<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webstudy6-ServletcontextListener</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Context1</display-name>
    <servlet-name>Context1</servlet-name>
    <servlet-class>step1.Context1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Context1</servlet-name>
    <url-pattern>/Context1</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>db_driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@127.0.0.1:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>scott</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>tiger</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Context2</display-name>
    <servlet-name>Context2</servlet-name>
    <servlet-class>step2.Context2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Context2</servlet-name>
    <url-pattern>/Context2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Context3</display-name>
    <servlet-name>Context3</servlet-name>
    <servlet-class>step3.Context3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Context3</servlet-name>
    <url-pattern>/Context3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllMemberCountServlet</display-name>
    <servlet-name>AllMemberCountServlet</servlet-name>
    <servlet-class>step4.AllMemberCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllMemberCountServlet</servlet-name>
    <url-pattern>/AllMemberCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindMemberByIdServlet</display-name>
    <servlet-name>FindMemberByIdServlet</servlet-name>
    <servlet-class>step5.FindMemberByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMemberByIdServlet</servlet-name>
    <url-pattern>/FindMemberByIdServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>step6.DriverLoader</listener-class>
  </listener>
</web-app>